.outermost_container {
  margin: 15rem auto;
  width: 100%;
}

.contact_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 2s ease-out;
}

.text {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 2.7rem;
  letter-spacing: 3px;
  margin: 0 auto;
  text-align: center;
  width: 65%;
  color: #8ea133;
  transition: 2s;
}

.contact_form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 0 1rem 0;
}

.left_column {
  display: flex;
  flex-direction: column;
  margin: 0;
}

::placeholder {
  /* color: #3D441E; */
}

input {
  background-color: #d1d1ab;
  border: 0.125rem solid #3d441e;
  font-family: "Quicksand";
  font-size: 1rem;
  width: 20rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  opacity: 0.5;
}

textarea {
  background-color: #d1d1ab;
  border: 0.125rem solid #3d441e;
  font-family: "QUICKSAND";
  font-size: 1rem;
  height: 95%;
  margin-bottom: 1rem;
  opacity: 0.5;
  overflow: auto;
  padding-left: 1rem;
  resize: none;
  width: 100%;
}

.submit_button {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 5rem auto;
}

button {
  background: #8ea133;
  background-blend-mode: multiply;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 1.6rem;
  color: #d1d1ab;
  padding: 1rem;
  width: 30rem;
  transition: opacity 2s;
}

button:hover {
  background: #76852f;
  color: #d6f71e;
}
