.background {
  position: fixed;
  top: 0;
  z-index: -2;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('./../../assets/skyPond_artwork-green-dark-01.jpg');
  background-size: cover;
}
